form{
    display: flex;
    justify-content: space-between;
    width: 1300px ;
    margin: 0 auto;
    height: 100px;
    padding: 10px;
    background-color: beige;
    border-bottom: 1px solid;
    border-radius: 10px;
    margin-bottom: 10px;

}

input,button,select{
    border-radius: 10px;
      filter: drop-shadow(0 0 2em #646cffaa);
      font-size: 20px;
}


h1{
    margin: 0 auto;
    justify-self: center;
    margin-bottom: 12px ;
}